/Netbeans/PizzeriaMamaMia/nbproject/private/
/herenciapersona/nbproject/private/
/Netbeans/PizzeriaMamaMia/build/
/EventosMouse/nbproject/private/
/EventosMouse/build/
/ArrayPersona/nbproject/private/
/interfazUsuario/nbproject/private/
/interfazUsuario/build/
/clase 1/nbproject/private/
/clase 1/build/
/Logueo_Agenda/nbproject/private/
/Logueo_Agenda/build/
/ejemplo/nbproject/private/